<!DOCTYPE html>
<%- include('../partials/head'); %>

<body class="container">
  
<%- include('../partials/header', {pagina: 'Sobre'}); %>

<main>
  <div class="bg-body-secondary p-5">
    <h1>Sobre mim</h1>
    <p>OI sou o Victor Gonzalez, Frontend Developer JS</p>
  </div>
</main>

<%- include('../partials/footer'); %>

   

</body>
</html>